.title {
    margin: auto;
    max-width: 300px;
    background-color: rgb(157, 207, 190);
    text-align: center;
    margin-top: 20px;
    height: 100px;
    padding: 25px 0 0 0;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 25px;
}

.index-body {
    background-color: rgb(210, 255, 245);
}

.botten{
    margin: auto;
    max-width: 150px;
    text-align: center;
    margin-top: 20px;
    border: 1px solid rgb(221, 221, 221);
    padding: 20px;
    background-color: rgb(224, 248, 250);
    border-radius: 25px;
}