

.body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    background-image: url('./img-icon/1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.top {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    border-radius: 15px;
    margin-top: 7px;
}

.top-left {
    background-color: rgba(255, 241, 223, 0.705);
    flex: 1;
    height: 100%;
    border-radius: 15px;
    margin-left: 10px;
    text-align: center;
    box-shadow: 0px 5px 5px rgb(214, 202, 186, 0.7);
    transition:
        transform 0.5s ease,
        box-shadow 0.5s ease;
}

.top-left:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(214, 213, 186, 0.868);
    background-color: rgba(255, 246, 223, 0.893);
}

.top-right {
    background-color: rgba(3, 254, 254, 0.705);
    border-radius: 15px;
    height: 100%;
    flex: 9;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    box-shadow: 0px 5px 5px rgb(2, 192, 192, 0.7);
    transition:
        transform 0.5s ease,
        box-shadow 0.5s ease;
}

.top-right:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(2, 192, 192, 0.781);
    background-color: rgba(3, 254, 254, 0.893);
}

.content {
    flex: 7.5;
    /* border-radius: 15px; */
    margin: 10px;
    /* background-color: rgb(238, 247, 255, 0.705); */
    /* box-shadow: 0px 5px 5px rgb(169, 173, 177, 0.7); */
    display: flex;
    flex-direction: row;

}

.content-left {
    flex: 1;
    /* border-radius: 15px; */
    min-width: 80px;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
}

.cl1 {
    /* content-left-1-style */
    flex: 1;
    border-radius: 15px;
    margin-bottom: 5px;
    background-color: rgb(238, 247, 255, 0.705);
    box-shadow: 0px 5px 5px rgb(169, 173, 177, 0.7);
    text-align: center;
    align-items: center;
    transition:
        transform 0.5s ease,
        box-shadow 0.5s ease;

}

.cl2 {
    /* content-left-2-style */
    flex: 1;
    border-radius: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
    background-color: rgb(238, 247, 255, 0.705);
    box-shadow: 0px 5px 5px rgb(169, 173, 177, 0.7);
    transition:
        transform 0.5s ease,
        box-shadow 0.5s ease;
}

.cl3 {
    /* content-left-3-style */
    flex: 1;
    border-radius: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
    background-color: rgb(238, 247, 255, 0.705);
    box-shadow: 0px 5px 5px rgb(169, 173, 177, 0.7);
    transition:
        transform 0.5s ease,
        box-shadow 0.5s ease;
}

.cl4 {
    /* content-left-4-style */
    flex: 1;
    border-radius: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgb(238, 247, 255, 0.705);
    box-shadow: 0px 5px 5px rgb(169, 173, 177, 0.7);
    transition:
        transform 0.5s ease,
        box-shadow 0.5s ease;

}

.cl5 {
    /* content-left-5-style */
    flex: 1;
    border-radius: 15px;
    margin-top: 5px;
    background-color: rgb(238, 247, 255, 0.705);
    box-shadow: 0px 5px 5px rgb(169, 173, 177, 0.7);
    transition:
        transform 0.5s ease,
        box-shadow 0.5s ease;

}

.clmove {
    border: none;
    min-height: 50px;
    position: relative;
    transition:
        transform 0.5s ease,
        box-shadow 0.5s ease;
}

.clmove:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px rgba(152, 213, 245, 0.84);
    background-color: rgba(210, 231, 249, 0.799);

}

.climg-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.content-right {
    flex: 9;
    border-radius: 15px;
    margin-left: 5px;
    height: 100%;
    background-color: rgb(238, 247, 255, 0.705);
    box-shadow: 0px 5px 5px rgb(169, 173, 177, 0.7);
    text-align: center;
    align-items: center;
}

.crc{
    /* content-right-content-style */
    display: none;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100%;
}



.crc.active{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.under-content {
    display: flex;
    flex-direction: row;
    /* background-color: rgba(127, 255, 212, 0.705); */
    flex: 1.5;
    margin: 10px;
    /* border-radius: 15px; */
    margin-top: 0px;
    /* text-align: center; */
    /* box-shadow: 0px 5px 5px rgb(93, 186, 155,0.7); */

}

.ucontent-left {
    background-color: rgba(127, 255, 212, 0.705);
    flex: 9;
    border-radius: 15px;
    margin-right: 10px;
    text-align: center;
    box-shadow: 0px 5px 5px rgb(93, 186, 155, 0.7);

}

.ucontent-right {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.ucontent-right-top {
    background-color: rgba(127, 255, 212, 0.705);
    flex: 1;
    border-radius: 15px;
    margin-bottom: 5px;
    box-shadow: 0px 5px 5px rgb(93, 186, 155, 0.7);
    text-align: center;
    transition:
        transform 0.5s ease,
        box-shadow 0.5s ease;

}

.ucontent-right-top:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(126, 218, 187, 0.868);
    background-color: rgba(127, 255, 212, 0.861);
}

.ucontent-right-bottom {
    background-color: rgba(127, 255, 212, 0.705);
    flex: 1;
    border-radius: 15px;
    margin-top: 5px;
    box-shadow: 0px 5px 5px rgb(93, 186, 155, 0.7);
    text-align: center;
    transition:
        transform 0.5s ease,
        box-shadow 0.5s ease;

}

.ucontent-right-bottom:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(126, 218, 187, 0.868);
    background-color: rgba(127, 255, 212, 0.863);
}